.venv
__pycache__/
.pytest_cache/
.env
homeassistant/.storage/*.json.backup
homeassistant/.storage/auth*
homeassistant/.storage/person*
homeassistant/.storage/core.*
homeassistant/.storage/*
!homeassistant/.storage/.gitkeep
.DS_Store
*.pyc
*.pyo
*.egg-info/
dist/
.idea/
.vscode/
homeassistant/custom_components/hacs/
homeassistant/www/community/
